*{
  margin: 0;
  padding: 0;
}
.big-container{
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.left{
  width: 49%;
  background-color: black;
  /* padding-left: 41px;
  padding-top: 35px; */
  display: flex;
  flex-direction: column;
}
.right{
  width: 51%;
  background: #575A85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.left1{
  color: #575A85;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
  margin-top: 33px;
  margin-left: 41px;
}
.left2{
  color: #B8BCCC;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 29px;
  margin-left: 41px;
}
.left3{
  margin-top: 60px;
  align-items: center;
  margin-left: 125px;
  width: 482px;
  height: 462px;
  flex-shrink: 0;
}
.right1{
  color: #B8BCCC;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.right2{
  width: 345px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #B8BCCC;
  background: #575A85;
  color: #B8BCCC;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#ip{
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}